body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

    
}
.header{
    text-align: center;
}
.header-text{
    font-family: Georgia, serif;
    font-size: 60px;
    color:black;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container{
    height: 400px;
    width:400px;
    display: grid;
    margin: 0;
   
    
 
  
} 
.square{
    border-color: pink;
    border-style: solid; 
    padding: 0 ;
}






   